{
	"extends": "airbnb",
	"env": {
		"browser": true,
		"node": true,
		"jquery": true
	},
	"rules": {
		"func-names": "off",
		"strict": "off",
		"no-console": 0, // Remove the "no console" warnings
		"import/no-unresolved": [
			"error",
			{
				"commonjs": true,
				"amd": true,
				"caseSensitive": true
			}
		]
	}
}
